header.fl-hdr {
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
}
.header-innr {
    background: #fff;
    padding: 12px 0
}
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.hdr-logo,
.secure-img{
    display: inline-block;
    vertical-align: baseline;
    max-width: 160px
}
.header .secure-img {
    max-width: 225px
}
.fl-hdr img{
    width: 100%
}
.fl-shipping {
    padding-bottom: 25px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 41px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 34px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 56px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'OpenSans-Bold';
    margin-top: 42px
}

.fl-shipping:before {
    content: "";
    height: 14px;
    width: 100%;
    position: absolute;
    background: #18ecc8;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 63px
}
.special-offer-con-wrp {
    font-family: 'Vollkorn-Semibold';
    position: relative;
    text-align: left;
    padding: 82px 365px 90px 30px;
    color: #fff;
    z-index: 1
}
.special-offer-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    z-index: 2
}
.special-offer-dsc{
    position: relative;
    z-index: 3
}
.special-offer-con-wrp h4 {
    color:#fff;
    margin-bottom: 18px;
}
.special-offer-con-wrp h1 {
    font-family: 'Vollkorn-Bold';
    color: #ffec49;
    margin-bottom: 20px;
    text-shadow: 1px 3px 4px #000;
    line-height: 1.2;
}
.special-offer-con-wrp span {
    font-size: 26px;
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 10px;
}
.fl-content-sec-3-wrp{
    padding:50px 0;
    background: #fff;
}

.fl-content-sec-3-img{
    width: 40.43%;
    float: left;
}
.fl-content-sec-3-des{
    width: 59.57%;
    float: left; 
    padding-left: 30px;  
    padding-right: 25px; 
}
.fl-content-sec-3-wrp img{
    width: 100%;
    height: auto;
}
.fl-content-sec-3-wrp p{

}

.fl-content-sec-3-wrp p span{
    font-family: 'OpenSans-Bold';
}







