@font-face {
    font-family: 'OpenSans-Regular';
    src: url(assets/fonts/OpenSans-Regular/OpenSans-Regular.woff2) format('woff2'), 
    	 url(assets/fonts/OpenSans-Regular/OpenSans-Regular.woff) format('woff');
    font-weight: ;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(assets/fonts/OpenSans-Semibold/OpenSans-Semibold.woff2) format('woff2'), 
         url(assets/fonts/OpenSans-Semibold/OpenSans-Semibold.woff) format('woff');
    font-weight: ;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(assets/fonts/OpenSans-Bold/OpenSans-Bold.woff2) format('woff2'), 
     	 url(assets/fonts/OpenSans-Bold/OpenSans-Bold.woff) format('woff');
    font-weight: ;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-BoldItalic';
    src: url(assets/fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff2) format('woff2'), 
         url(assets/fonts/OpenSans-BoldItalic/OpenSans-BoldItalic.woff) format('woff');
    font-weight: ;
    font-style: normal
}
@font-face {
    font-family: 'Vollkorn-Semibold';
    src: url(assets/fonts/Vollkorn-Semibold/Vollkorn-Semibold.woff2) format('woff2'), 
         url(assets/fonts/Vollkorn-Semibold/Vollkorn-Semibold.woff) format('woff');
    font-weight: ;
    font-style: italic
}

@font-face {
    font-family: 'Vollkorn-Bold';
    src: url(assets/fonts/Vollkorn-Bold/Vollkorn-Bold.woff2) format('woff2'), 
    	 url(assets/fonts/Vollkorn-Bold/Vollkorn-Bold.woff) format('woff');
    font-weight: ;
    font-style: normal
}

@font-face {
    font-family: 'Merriweather-Black';
    src: url(assets/fonts/Merriweather-Black/Merriweather-Black.woff2) format('woff2'), 
    	 url(assets/fonts/Merriweather-Black/Merriweather-Black.woff) format('woff');
    font-weight: ;
    font-style: normal
}


@font-face {
    font-family: 'Barlow-Bold';
    src: url(assets/fonts/Barlow-Bold/barlow-bold-webfont.woff2) format('woff2'), 
    	 url(assets/fonts/Barlow-Bold/barlow-bold-webfont.woff) format('woff');
    font-weight:;
    font-style: normal
}
@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: url(assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff2) format('woff2'), 
         url(assets/fonts/BarlowCondensed-Regular/BarlowCondensed-Regular.woff) format('woff');
    font-weight:;
    font-style: normal
}
@font-face {
    font-family: 'Barlow-Medium';
    src: url(assets/fonts/Barlow-Medium/Barlow-Medium.woff2) format('woff2'), 
         url(assets/fonts/Barlow-Medium/Barlow-Medium.woff) format('woff');
    font-weight:;
    font-style: normal
}
@font-face {
    font-family: 'Barlow-Extrabold';
    src: url(assets/fonts/Barlow-Medium/barlow-medium-webfont.woff2) format('woff2'), 
         url(assets/fonts/Barlow-Medium/barlow-medium-webfont.woff) format('woff');
    font-weight: ;
    font-style: normal
}


@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: url(assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold-webfont.woff2) format('woff2'), 
    	 url(assets/fonts/BarlowCondensed-Bold/barlowcondensed-bold-webfont.woff) format('woff');
    font-weight: ;
    font-style: normal
}

*,*:focus,.btn,.btn:focus {
    outline: 0!important;
    text-decoration: none
}
a,button,input {
    outline: 0;
    border: 0;
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
    text-decoration: none;
    outline: 0
}
body {
    background: #fff;
    color: #000;
    font-size: 22px;
    line-height: 1.2;
    font-family: 'OpenSans-Regular';
    background: url(assets/images/body-bg.jpg)
}
img {
    max-width: 100%;
    height: auto
}
.ulc {
    margin: 0;
    padding: 0;
    list-style: none;
}
.overlay-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10
}
.container {
    max-width: 1200px;
    width: 100%
}
.hide-md {
    display: block!important
}
.show-md {
    display: none!important
}

.hide-sm {
    display: block!important
}
.show-sm {
    display: none!important
}
.hide-xs {
    display: block!important
}
.show-xs {
    display: none!important
}
p { margin-bottom: 26px }
a { word-wrap: break-word }

.plr-30 {
    padding-left: 30px!important;
    padding-right: 30px!important
}
.plr-20 {
    padding-left: 20px!important;
    padding-right: 20px!important
}
.plr-10 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
.plr-15 {
    padding-left: 15px!important;
    padding-right: 15px!important
}
.plr-5{
    padding-left: 5px!important;
    padding-right: 5px!important
}
.dst-ml-15 {
    margin-left: -15px;
}
.fl-page-bdy-controller{
    max-width: 1170px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    -moz-box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1);
    box-shadow: 0 5px 12px 0 rgba(180, 179, 179, 1)
}
h1 {
    font-size: 48px
}
h2 {
    font-size: 45px
}
h3 {
    font-size: 40px
}
h4 {
    font-size: 30px
}
h5 {
    font-size: 25px
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    line-height: 1.2;
}



header.fl-hdr {
    background: #fff;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    position: relative;
    z-index: 5
}
.header-innr {
    background: #fff;
    padding: 12px 0
}
.hdr-left,
.hdr-rgt {
    width: 50%;
    float: left
}
.hdr-left {
    padding-right: 30px
}
.hdr-rgt {
    text-align: right
}
.hdr-logo,
.secure-img{
    display: inline-block;
    vertical-align: baseline;
    max-width: 160px
}
.header .secure-img {
    max-width: 225px
}
.fl-hdr img{
    width: 100%
}
.fl-shipping {
    padding-bottom: 25px;
    background: #fff;
    box-sizing: border-box;
    position: relative
}
.fl-shipping img {
    display: inline-block;
    position: relative;
    top: 41px;
    width: 57px;
    height: 57px
}
.fl-shipping .two_sec img {
    top: 34px;
    width: 71px;
    height: 71px
}
.fl-shipping-col {
    width: 33.333%;
    float: left;
    padding-left: 7px;
    padding-right: 7px
}
.fl-shipping h4 {
    color: #000;
    font-family: 'OpenSans-Semibold';
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 56px;
    width: 100%
}
.fl-shipping .two_sec>h4 {
    font-family: 'OpenSans-Bold';
    margin-top: 42px
}

.fl-shipping:before {
    content: "";
    height: 14px;
    width: 100%;
    position: absolute;
    background: #18ecc8;
    left: 0;
    right: 0;
    border-radius: 50px;
    top: 63px
}
.special-offer-con-wrp {
    font-family: 'Vollkorn-Semibold';
    position: relative;
    text-align: center;
    padding: 86px 20px 110px;
    color: #fff;
    z-index: 1;
    margin-left: -15px;
    margin-right: -15px;
}
.special-offer-con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    z-index: 2
}
.special-offer-dsc{
    position: relative;
    z-index: 3
}
.special-offer-con-wrp h4 {
    color:#fff;
    margin-bottom: 18px;
}
.special-offer-con-wrp h2 {
    font-family: 'Vollkorn-Bold';
    font-size: 44px;
    color: #ffec49;
    margin-bottom: 20px;
    text-shadow: 1px 3px 7px #000;
    line-height: 1.3;
}
.special-offer-con-wrp span {
    font-size: 26px;
    display: inline-block;
    vertical-align: baseline;
}
.fl-content-sec-3-wrp{
    padding:50px 0 38px;
    background: #fff;
}

.fl-content-sec-3-img{
    width: 40.43%;
    float: left;
}
.fl-content-sec-3-des{
    width: 59.57%;
    float: left; 
    padding-left: 30px;  
    padding-right: 25px; 
    padding-top: 10px;
}
.fl-content-sec-3-wrp img{
    width: 100%;
    height: auto;
}
.fl-content-sec-3-wrp p{

}

.fl-content-sec-3-wrp p span{
    font-family: 'OpenSans-Bold';
}

.fl-content-sec-3-full-w-des{

}
.fl-content-sec-3-full-w-des {
    
}

p .fl-txt-line-bg {
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
p .fl-txt-line-bg > em{
    font-family: 'OpenSans-BoldItalic';
    display: inline-block;
    vertical-align: baseline;
}
.fl-supercharges-des p .fl-txt-line-bg {
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}
.fl-content-sec-4-innr{
    -webkit-box-shadow: 1px 1px 15px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 15px -11px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 15px -11px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding-bottom: 20px;
}
.fl-content-sec-4-head{
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
    padding: 20px 10px 30px;
    border-radius: 8px;
    text-align: center;
    color:#fff;
    font-family: 'Merriweather-Black';
    margin-bottom: 30px;
}
.fl-content-sec-4-head h3 {
    margin-bottom: 0;
    letter-spacing: -0.8px;
}

.fl-supercharges-img{
    width:50%;
    float: left;
    text-align: left;
}

.fl-supercharges-des{
    width:50%;
    float: left;
    padding-left: 24px;
}


.fl-supercharges-two-part{
    
}
.fl-supercharges-two-part ul li{
    padding-left: 30px;
    padding-right: 30px;
}
.fl-supercharges-two-part ul li:first-child{
    padding-left: 30px;
    padding-right: 15px;
}
.fl-supercharges-two-part ul li:nth-child(2n+1) .fl-supercharges-img {
    float: right;
    text-align:  right;
}
.fl-supercharges-two-part ul li:nth-child(2n+1) .fl-supercharges-des {
    padding-left: 0;
    padding-right: 24px;
}
.rare-root-head{
    padding: 32px 0 10px;
}
.rare-root-head h2{
    font-family: 'Merriweather-Black';  
}
.rare-root-head h2 span{
    color:#1fba9f;
}
.rare-root-feature-wrp{
    padding-bottom: 55px;
}
.rare-root-feature-wrp ul li{
    position: relative;
    padding-bottom: 55px;
}
.rare-root-feature-wrp ul li:nth-child(2n+2){
    padding-top: 55px;
    padding-bottom: 42px;
}
.fl-content-sec-5-wrp .rare-root-feature-wrp ul li {
    padding-bottom: 90px;
}
.rare-root-feature-wrp ul li .rare-root-feature-des{
    width:75%;
    float: left;
    padding:25px;
    padding-bottom: 35px;
    border: 10px solid #000;
    position: relative;
    z-index: 2;
}
.rare-root-feature-wrp ul li:nth-child(2n+2) .rare-root-feature-des {
    float: right;
    padding-left: 240px;
    padding-right: 45px;
}
.rare-root-feature-wrp ul li .rare-root-feature-pera{
    padding-right: 250px;
}
.rare-root-feature-wrp ul li:nth-child(2n+2) .rare-root-feature-pera{
    padding-right: 0;
}
.rare-root-feature-wrp ul li img{
    position: absolute;
    right:20px;
    bottom:-15px; 
    z-index: 3;
}
.rare-root-feature-wrp ul li:nth-child(2n+2) img{
    right:auto;
    top:-15px; 
    bottom:100%; 
    left:20px;
}
.rare-root-feature-pera p:last-child{
    margin-bottom: 0;
}

.rare-root-feature-head h2{
    font-family: 'Merriweather-Black';
}
.rare-root-feature-head h2 span{
    color: #1fba9f;
}






.pos-powerful-sec{
    padding-top: 75px;
    padding-bottom: 50px;
    background-size: 100% 100% !important;
    background-position: center!important;
    background-repeat: repeat-x!important;
    color: #fff;
    position: relative;
}
.pos-powerful-sec .out-stock-sec-hdr h2{
    margin-bottom: 10px;
}
.ye-microbiome-sec-wrp{
    padding-top: 60px;
    padding-bottom: 20px;
}
.ye-title-headding h2{
    font-size: 44px;
    line-height: 50px;
    font-family: 'Merriweather-Black';
    text-align: center;
    margin-bottom: 25px;
}
.ye-flt-rgt-img{
    float: right !important;
}
.ye-microbiome-sec-wrp .ye-two-grid-rgt-img{
    padding-top: 30px;
    padding-left: 15px;
}
.ye-microbiome-sec-wrp .hh-two-grid-rgt-dsc{
    padding-right: 35px;
}
.yacon-root-sec-wrp{
    padding-bottom: 35px;
}
.yacon-root-content-wrp{
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(180, 179, 179, 1);
    -moz-box-shadow: 0 2px 5px 0 rgba(180, 179, 179, 1);
    box-shadow: 0 2px 5px 0 rgba(180, 179, 179, 1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.yacon-root-headding {
    padding: 40px 15px 25px;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center center !important;
}
.yacon-root-headding h2{
    margin: 0;
    color: #fff;
    font-family: 'Merriweather-Black';
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}
.yacon-root-content{
    padding-top: 30px;
}
.yacon-root-content .dft-multiline-bg p {
    margin-bottom: 26px;
}
.yacon-root-content-wrp .ye-two-grid-rgt-img{
    padding-left: 30px;
    padding-top: 10px;
}
.yacon-root-content-wrp .ye-two-grid-rgt-dsc{
    padding-right: 30px;
    float: right;
}
.ye-two-grid-rgt-dsc ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.ye-two-grid-rgt-dsc ul li{
    float: left;
    font-size: 22px;
    line-height: 26px;
    padding-left: 50px;
    padding-top: 6px;
    position: relative;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 29px 37px;
    background-position: left top;
    font-family: 'OpenSans-Bold';
}
.prd-tp-50 {
    padding-top: 20px;
    margin-bottom: 60px;
}
.paired-root-sec-wrp {
    padding-top: 60px;
    position: relative;
}
.pos-powerful-sec:before,
.paired-root-sec-wrp:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    background: url(assets/images/stock-out-sec-bg-top.jpg);
    background-repeat: repeat-x;
    height: 13px;
    z-index: 2;
    background-position: center center;
    background-size: 100% 100%;
}
.pos-powerful-sec:after,
.paired-root-sec-wrp:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    background: url(assets/images/stock-out-sec-bg-btm.jpg);
    background-repeat: repeat-x;
    height: 25px;
    z-index: 2;
    background-position: center center;
    background-size: 100% 100%;
}
.paired-root-sec-wrp:after{
    background: url(assets/images/stock-out-sec-bg-btm-2.jpg);
    background-position: center center;
    background-size: 100% 100%;

}
.paired-root-sec-wrp .rare-root-feature-wrp ul li .rare-root-feature-des{
    border-color: #fff;
}

.paired-root-sec-wrp .rare-root-feature-des{
    padding-right: 90px !important;
}
.paired-root-sec-wrp .rare-root-feature-des h2{
    margin: 0;
    color: #fff;
    line-height: 55px;
    margin-bottom: 30px;
    font-family: 'Merriweather-Black';
}
.paired-root-sec-wrp .rare-root-feature-des p{
    color: #fff;
    padding-right: 160px;
}
.ye-remove-line-headding h3{
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: 'Merriweather-Black';
    margin-bottom: 15px;
}
.dft-text-module{
    color: #fff;
    padding-top: 8px;
}

.health-risks-grd-wrp {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
}
.health-risks-grd-wrp ul{
    text-align: center;
}
.health-risks-grd-wrp li {
    width: 100%;
    max-width: 368px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}
.health-risks-grd-wrp li:nth-child(3n+1){
    clear: left !important;
}
.health-risks-grd-wrp li:nth-child(7){
    clear: none !important;
}
.health-risks-img-wrp {
    position: relative;
}
.health-risks-img {
    width: 187px;
    height: 183px;
    margin: 0 auto;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.health-risks-dsc{
    color: #fff;
}
.health-risks-dsc h5{
    margin: 0;
    font-family: 'Merriweather-Black';
    margin-top: 20px;
    margin-bottom: 10px;
}
.health-risks-dsc p {
    padding-left: 20px;
    padding-right: 20px;
}
.health-risks-grd-wrp li:nth-child(4) .health-risks-dsc p{
    padding-left: 10px;
    padding-right: 10px;
} 
.profile-show-sec-wrp{
    padding-top: 45px;
    padding-bottom: 20px;
}
.profile-show-headding h2{
    margin: 0;
   font-family: 'Merriweather-Black';
   text-align: center;
   margin-bottom: 35px;
}

.profile-show-wrp ul li{
    border: 5px solid #ececec;
    margin-bottom: 20px;
    -webkit-box-shadow: 6px 7px 4px -4px rgba(209,209,209,1);
    -moz-box-shadow: 6px 7px 4px -4px rgba(209,209,209,1);
    box-shadow: 6px 7px 4px -4px rgba(209,209,209,1)
}
.profile-show-inr{
    padding: 20px 20px;
}
.profile-dsc{
    padding-left: 65px;
    background-repeat: no-repeat;
    background-position: left 5px top -6px;
    background-size: 54px 54px;
    padding-top: 8px;
}
.profile-dsc h5{
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    color: #000;
    font-family: 'OpenSans-Bold';
    margin-bottom: 5px;
}
.profile-show-inr blockquote {
    padding: 0;
    margin: 0;
    border-left: 0;
    font-size: 22px;
    line-height: 26px;
    padding-top: 5px;
}






.out-stock-sec{
    padding-top: 60px;
    padding-bottom: 20px;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    color: #fff;
    position: relative;
}
.out-stock-sec:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: url(assets/images/stock-out-sec-bg-top.jpg);
    background-repeat: repeat-x;
    height: 13px;
    z-index: 2;
}

.out-stock-sec:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(assets/images/stock-out-sec-bg-btm.jpg);
    background-repeat: repeat-x;
    height: 25px;
    z-index: 2;
}

.out-stock-sec-hdr h2{
    font-size: 40px;
    font-family: 'Merriweather-Black';
    text-align: center;
    margin-bottom: 30px;
}
.out-stock-sec-grd-img-1{
    padding-top: 10px;
}
.yacon-root-content .dft-multiline-bg p span,
.dft-text-module p span {
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    vertical-align: baseline;
    font-family: 'OpenSans-Bold';
    color: #000;
    padding: 2px 20px 4px 15px;
}
.dft-text-module p:last-child{
    padding-bottom: 18px;
}
.dft-multiline-bg p {
    margin-bottom: 0;
}



.thank-you-line{
    text-align: center;
}
.fl-ftr-top-sec-rgt-img{
    text-align: right;
}
.fl-ftr-top-sec-rgt-img img{
    margin-top: -10px;
}
.fl-ftr-top-sec strong{
    display: block;
    text-decoration: underline;
    color: #0055e3;
    font-family: 'OpenSans-Semibold';
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 22px;
}
.fl-ftr-top-sec ul li a{
    color: #000000;
}
.fl-ftr-top-sec ul li{
    padding-bottom: 45px;
}
.fl-ftr-top-sec ul li sup{
    display: inline-block;
    vertical-align: baseline;
    padding-right: 4px;
}
.fl-pkg-section-1 .pkg-area-con-bg{
    padding-top: 0;
}
.fl-pkg-sec-ftr-des{
    padding-top: 65px;
    text-align: left;
    padding-bottom: 24px;
}
.pkg-area-con-bg{
    padding: 50px 0 50px;
    background-size: cover!important;
    background-position: center center;
}
.fl-pkg-sec-hdr{
    text-align: center;
    color: #fff;
}
.fl-pkg-sec-hdr h2{
    font-family: 'Merriweather-Black';
    margin-bottom: 80px;
    margin-top: 0;
    color: #000;
}
.fl-pkg-sec-bg-hdr{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    border-radius: 8px 8px 0 0;
    margin-bottom: 85px;
    padding: 20px 20px 25px;
}
.fl-pkg-sec-bg-hdr h2{
    font-family: 'Merriweather-Black';
    margin-top: 0;
    color: #fff;
    text-align: center;   
    margin-bottom: 0;
}


.fl-pkg-grd-controller > ul > li{
    float: left;
    width: 33.333%;
    padding: 0 10px;
}

.fl-pkg-grd-col-btm-bdr{
    background: #097298;
    border-radius: 8px;
    padding-bottom: 4px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
    box-shadow: 0px 0px 7px 1px rgba(207,205,205,1);
}
.fl-pkg-grd-col-bdr-solid{
    position: relative;
}
.fl-pkg-grd-col-bdr-solid:before,
.fl-pkg-grd-col-bdr-solid:after{
    content: "";
    background: #bdd4dc;
    position: absolute;
    top: 4px;
    bottom: 2px;
    width: 1px;
    z-index: 1;
}
.order1 .fl-pkg-grd-col-bdr-solid:before,
.order1 .fl-pkg-grd-col-bdr-solid:after{
    background: #ded4d4;
}
.order2 .fl-pkg-grd-col-bdr-solid:before,
.order2 .fl-pkg-grd-col-bdr-solid:after{
    background: #c6dbd7;
    top: 10px;
}
.fl-pkg-grd-col-bdr-solid:before{
    left: -1px;
}
.fl-pkg-grd-col-bdr-solid:after{
    right: 0;
}

.fl-pkg-grd-col{
    padding-bottom: 5px;
    position: relative;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    margin-top: -45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr{
    background: #d50001;
}
.fl-pkg-grd-controller > ul > li:nth-child(3) .fl-pkg-grd-col-btm-bdr{
    background: #1dad94;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col{
    padding-bottom: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr ul{
    padding-top: 10px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-price{
    margin-bottom: 20px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-fea-img{
    padding-bottom: 20px;
    padding-top: 45px;
}
.fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-ftr{
    padding-top: 25px;
}
.fl-pkg-grd-col-hdr{
    border-radius: 5px 5px 0 0;
}
.fl-pkg-grd-col-hdr span,.fl-pkg-grd-col-hdr strong{
    display: block;
}
.fl-pkg-grd-col-hdr{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-repeat: repeat-x!important;
    background-size: cover!important;
}
.fl-pkg-grd-col-hdr span{
    font-size: 32px;
    line-height: 36px;
    font-family: 'BarlowCondensed-Bold';
    padding: 20px 10px 30px;
    background-repeat: repeat-x!important;
    border-radius: 5px 5px 0 0;
    text-shadow: 0px 2px #019bd4;
}
.order1 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 2px #b82121;
}
.order2 .fl-pkg-grd-col-hdr span{
    text-shadow: 0px 2px #27caae;
}
.fl-pkg-grd-col-hdr strong{
    padding: 0 10px 12px 10px;
    font-size: 40px;
    line-height: 45px;
    font-family: 'BarlowCondensed-Bold';
    text-shadow: 0px 2px #595653;
}
.fl-pkg-grd-col-fea-img{
    margin: 0 auto;
    position: relative;
    display: table;
    padding: 28px 15px 15px;
}
.fl-pkg-grd-col-fea-img div{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-col-fea-img span{
    position: absolute;
    right: 15px;
    top: 33px;
}
.order3 .fl-pkg-grd-col-fea-img span{
    right: -37px;
}
.order1 .fl-pkg-grd-col-fea-img span {
    top: 70px;
    right: 32px;
}
.fl-pkg-grd-col{
    background: #f7f7f7;
    border: 3px solid #fff;
    border-radius: 8px;
}
.fl-pkg-price{
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    padding: 0 76px 0 28px;
    margin-bottom: 10px;
}
.fl-pkg-price:before {
    content: "$";
    position: absolute;
    left: 3px;
    top: -7px;
    font-size: 42px;
    line-height: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
}
.fl-pkg-price:after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    font-family: 'Barlow-Bold';
    margin-right: 2px;
    right: 63px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-pkg-price strong {
    font-size: 68px;
    line-height: 58px;
    font-weight: normal;
    font-family: 'Barlow-Bold';
    display: inline-block;
}
.fl-pkg-price sup {
    position: absolute;
    right: 16px;
    font-size: 40px;
    font-family: 'Barlow-Bold';
    top: -1px;
    line-height: 100%;
}
.fl-pkg-price sub {
    position: absolute;
    right: -5px;
    font-size: 38px;
    bottom: 9px;
    font-family: 'BarlowCondensed-Regular';
}
.fl-creditcards{
    padding-left: 8px;
    padding-top: 5px;
}
.fl-footer-wrap{
    background-color: #0f1314;
    color: #fff;
    text-align: center;
    padding: 55px 0 65px;
    font-size: 14px;
    line-height: 19px;
}
.fl-footer-wrap p{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
}
.fl-ftr-nav ul{
    padding-bottom: 20px;
}
.fl-ftr-nav ul li,.fl-ftr-nav ul li a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-ftr-nav ul li{
    font-size: 18px;
    line-height: 20px;
}
.fl-ftr-nav ul li:first-child{
    padding-left: 0;
}
.fl-ftr-nav ul li:last-child{
    padding-right: 0;
}
.fl-ftr-nav ul li a{
    color: inherit;
}
.fl-ftr-nav ul li a:hover,.fl-ftr-top-sec ul li a:hover{
    opacity: .7;
}
.fl-pkg-grd-ftr{
        padding-left: 10px;
        padding-right: 10px;
        display: table;
        margin: 0 auto;
    padding-top: 20px;
}
.fl-add-to-cart-btn-img{
    margin-bottom: 15px;
}

.fl-add-to-cart-btn-img a{
    display: inline-block;
    vertical-align: baseline;
}
.fl-pkg-grd-ftr ul li{
    position: relative;
    padding: 3px 0 15px 40px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'Barlow-Medium';
}
.fl-pkg-grd-ftr ul li em{
    position: absolute;
    left: 0;
    top: 0;
}
.fl-copyright{
    padding-bottom: 35px;
}
.fl-ftr-nav ul li{
    padding: 0 25px;
    position: relative;
}
.fl-ftr-nav ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    position: absolute;
    left: 100%;
    margin-left: -1px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.fl-ftr-des{
    color: #6a6a6a;
    padding: 0 10px;
}




@media(max-width: 1199px){
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
    .fl-content-sec-4-head h3 br{
        display: none;
    }
    .rare-root-feature-wrp ul li:nth-child(2n+2) .rare-root-feature-des {
        padding-left: 260px;
        padding-right: 25px;
    }
    .pos-powerful-sec .out-stock-sec-hdr h2 br{
        display: none;
    }
    .ye-title-headding h2{
        font-size: 40px;
        line-height: 44px;
    }
    .yacon-root-headding h2 br,
    .ye-title-headding h2 br{
        display: none;
    }
    .paired-root-sec-wrp .rare-root-feature-des h2,
    .yacon-root-headding h2{
        font-size: 36px;
        line-height: 46px;
    }
    .paired-root-sec-wrp .rare-root-feature-des p {
        padding-right: 0 !important;
    }
    .paired-root-sec-wrp .rare-root-feature-des {
        padding-right: 245px !important;
    }
    .ye-microbiome-sec-wrp .hh-two-grid-rgt-dsc {
        padding-right: 0;
    }
    .ye-microbiome-sec-wrp .ye-two-grid-rgt-img {
        padding-left: 0;
    }

}
 

@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    h1 {
        font-size: 36px
    }
    h2 {
        font-size: 32px
    }
    h3 {
        font-size: 28px
    }
    h4 {
        font-size: 24px
    }
    h5 {
        font-size: 20px
    }
    .fl-shipping h4 {
        font-size: 18px
    }
    .special-offer-con-wrp h2 {
        font-size: 32px;
        line-height: 1.2;
    }
    .special-offer-con-wrp span {
        font-size: 20px;
    }
    .fl-content-sec-3-img {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .fl-content-sec-3-wrp img {
        max-width: 450px;
    }
    .fl-content-sec-3-des {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-content-sec-4-head h3 br{
        display: none;
    }

    .fl-supercharges-des {
        width: 100%;
        float: left;
        padding-left: 0;
    }
    .fl-supercharges-two-part ul li:nth-child(2n+1) .fl-supercharges-des {
        padding-right: 0;
    }
    .fl-supercharges-two-part ul li:nth-child(2n+1) .fl-supercharges-img {
        float: left;
        text-align: center;
    }
    .fl-supercharges-img {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
    }
    .rare-root-feature-wrp ul li {
        position: static;
        text-align: center;
    }
    .rare-root-feature-wrp ul li img {
        position: static;
    }
    .rare-root-feature-wrp ul li .rare-root-feature-des {
        width: 100%;
        float: left!important;
        padding: 25px!important;
        margin-top: 20px;
        border: 8px solid #000;
    }
    .rare-root-feature-pera{
        text-align: left;
    }
    .rare-root-feature-wrp ul li .rare-root-feature-pera {
        padding-right: 0;
    }
    .rare-root-feature-wrp ul li{
        padding-top: 0;
        padding-bottom: 40px;
    }    
    .rare-root-feature-wrp ul li:nth-child(2n+2){
        padding-top: 0;
        padding-bottom: 40px;
    }
    .fl-content-sec-5-wrp .rare-root-feature-wrp ul li {
        padding-bottom: 0;
    }


    .pos-powerful-sec .out-stock-sec-hdr h2 {
        font-size: 32px;
        line-height: 36px;
    }
    .ye-title-headding h2{
        font-size: 32px;
        line-height: 40px;
    }
    .ye-flt-rgt-img {
        float: none !important;
        text-align: center;
    }
    .ye-microbiome-sec-wrp .ye-two-grid-rgt-img {
        padding-top: 10px;
        padding-left: 0;
        padding-bottom: 30px;
    }
    .paired-root-sec-wrp .rare-root-feature-des h2,
    .yacon-root-headding h2{
        font-size: 32px;
        line-height: 44px;
    }
    .yacon-root-content-wrp .ye-two-grid-rgt-img {
        padding-left: 0;
        text-align: center;
        padding-bottom: 30px;
    }
    .yacon-root-content-wrp .ye-two-grid-rgt-dsc {
        padding-right: 15px;
        padding-left: 15px;
    }
    .paired-root-sec-wrp .rare-root-feature-des p {
        padding-right: 0 !important;
    }
    .paired-root-sec-wrp .rare-root-feature-wrp ul li .rare-root-feature-des {
        margin-bottom: 30px;
    }
    .paired-root-sec-wrp .rare-root-feature-wrp {
        padding-bottom: 0;
        padding-left: 0;
    }



    .fl-ftr-top-sec-rgt-img {
        text-align: center;
        padding-bottom: 25px;
    }
    .fl-ftr-top-sec-rgt-img img {
        margin-top: 0;
    }
    .fl-pkg-grd-controller > ul > li {
        width: 100%;
        margin-bottom: 20px;
    }
    .fl-pkg-grd-col-btm-bdr {
        max-width: 370px;
        margin: 0 auto;
    }
    .fl-pkg-grd-controller > ul > li:nth-child(2) .fl-pkg-grd-col-btm-bdr {
        margin-top: 0;
    }
    .fl-pkg-sec-hdr h2{
        margin-bottom: 35px;
    }
    .out-stock-sec-grd-img-1,
    .out-stock-sec-grd-img-2{
        padding-bottom: 25px;
    }
    .fl-pkg-sec-bg-hdr{
        margin-bottom: 45px;
    }
    .out-stock-sec-hdr h2{
        font-size: 35px;
    }
    p br{
        display: none;
    }

}


@media (max-width:830px){
    .fl-shipping h4 {
        font-size: 16px
    }

}

@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 28px
    }
    h3 {
        font-size: 24px
    }
    h4 {
        font-size: 20px
    }
    h5 {
        font-size: 18px
    } 
    .special-offer-con-wrp h2 {
        font-size: 28px;
    }
    .special-offer-con-wrp {
        padding: 50px 20px 60px;
    }
    .fl-supercharges-des p .fl-txt-line-bg {
        margin-right: -10px;
        margin-left: -10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .rare-root-head h2 br{
        display: none;
    }


    .pos-powerful-sec {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .pos-powerful-sec .out-stock-sec-hdr h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .paired-root-sec-wrp .rare-root-feature-des h2,
    .ye-title-headding h2{
        font-size: 30px;
        line-height: 38px;
    }
    .ye-microbiome-sec-wrp {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .yacon-root-headding h2{
        font-size: 28px;
        line-height: 40px;
    }
    .yacon-root-headding {
        padding: 25px 15px 20px;
    }
    .yacon-root-content{
        padding: 20px 15px 0 !important;
    }
    .ye-two-grid-rgt-dsc ul li{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 15px;
        padding-left: 45px;
    }
    .ye-two-grid-rgt-img{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .prd-tp-50{
        margin-bottom: 30px;
    }
    .paired-root-sec-wrp .rare-root-feature-des h2{
        margin-bottom: 20px;
    }
    .paired-root-sec-wrp .rare-root-feature-wrp ul li .rare-root-feature-des{
        padding:25px 15px !important; 
    }
    .paired-root-sec-wrp {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .health-risks-dsc p {
        padding-left: 0;
        padding-right: 0;
    }
    .health-risks-grd-wrp li{
        margin-bottom: 15px;
    }
    .dft-text-module p:last-child {
        padding-bottom: 10px;
    }
    .profile-show-inr {
        padding: 20px 10px;
    }
    .profile-show-wrp {
        padding-left: 0;
        padding-right: 0;
    }
    .profile-dsc h5 {
        font-size: 20px;
        line-height: 22px;
    }
    .profile-show-inr blockquote{
        font-size: 18px;
        line-height: 22px;
    }
    .health-risks-grd-wrp li:nth-child(4) .health-risks-dsc p {
        padding-left: 0;
        padding-right: 0;
    }


    .fl-ftr-des{
        padding: 0;
    }
    .out-stock-sec-hdr h2 {
        font-size: 28px;
    }
    .out-stock-sec-hdr h2 br{
        display: none;
    }

}



@media(max-width: 639px){
    .fl-shipping .two_sec img {
        width: 65px;
        height: 65px
    }
    
    .fl-shipping img {
        width: 50px;
        height: 50px
    }
    .rare-root-feature-wrp ul li .rare-root-feature-des {
        border: 4px solid #000;
    } 
}
 


@media(max-width: 575px){
    .hdr-logo, .secure-img {
        display: inline-block;
        vertical-align: baseline;
        max-width: 120px;
    }
    .special-offer-con-wrp span {
        font-size: 18px;
    }


    .fl-creditcards{
        padding-left: 0;
    }
    .fl-pkg-sec-bg-hdr h2 br{
        display: none;
    }
    .out-stock-sec-hdr h2 {
        font-size: 25px;
    }
}


@media(max-width:479px) {
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 22px
    }
    .fl-shipping-progress-bar {
        margin-top: -10px
    }
    
    .fl-shipping {
        margin-left: -15px;
        margin-right: -15px;
        padding-bottom: 12px
    }
    
    .fl-shipping h4 {
        font-size: 14px
    }
    
    .fl-shipping:before {
        height: 12px
    }
    
    .fl-shipping-col {
        width: 30%;
        float: left
    }
    
    .fl-shipping-col.two_sec {
        width: 40%;
        float: left
    }
    
    .fl-shipping-col.two_sec span {
        display: block
    }
    .pos-powerful-sec .out-stock-sec-hdr h2 {
        font-size: 24px;
        line-height: 28px;
    }
    .yacon-root-headding h2{
        font-size: 24px;
        line-height: 30px;
    }
    .paired-root-sec-wrp .rare-root-feature-des h2,
    .ye-title-headding h2{
        font-size: 24px;
        line-height: 30px;
    }
    .ye-two-grid-rgt-dsc ul li{
        font-size: 17px;
        line-height: 21px;
        padding-left: 40px;
    }
    .profile-dsc h5 {
        font-size: 18px;
        line-height: 20px;
    }

    .fl-ftr-nav ul li {
        padding: 0 16px;
        font-size: 17px;
    }

}

@media(max-width: 359px){
    .fl-shipping-col {
        width: 27%;
        float: left
    }
    
    .fl-shipping-col.two_sec {
        width: 46%;
        float: left
    }
    .hdr-logo, .secure-img {
        display: inline-block;
        vertical-align: baseline;
        max-width: 100px;
    }
}
